@model Reflection.Models.Employee

@{
    ViewData["Title"] = "Delete " + Model.FirstName + " " + Model.LastName;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Employees</a></li>
        <li class="breadcrumb-item"><a asp-action="Details" asp-route-id="@Model.EmployeeId">@Html.DisplayFor(model => model.FullName)</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
</nav>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h1 class="model-heading">Delete @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
<h4>Please review these details before deleting:</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @if (Model.CompanyId != null)
            {
                <a asp-controller="Companies"
                   asp-action="Details"
                   asp-route-id="@Model.Company.CompanyId"
                   class="employee-company-cell">
                    @if (Model.Company.LogoName != null)
                    {
                        <div class="index-logo-box-inline">
                            <img src="@("~/img/" + Model.Company.LogoName)" asp-append-version="true" class="img-logo" />
                        </div>
                    }
                    @Html.DisplayFor(model => model.Company.Name)
                </a>
            }
            else
            {
                <span>None listed.</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete" id="deleteForm">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Delete" id="btnConfirmDelete" class="btn btn-danger" />
    </form>
</div>

<div id="confirmDeleteDialogue" title="Confirm Deletion">
    <p>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.FullName)</strong>?</p>
</div>
