@model Reflection.Models.Employee

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Employees</a></li>
        @if (Model.CompanyId == null)
        {
            <li class="breadcrumb-item"><a asp-action="Unassigned">Unassigned</a></li>
        }
        else
        {
            <li class="breadcrumb-item"><a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyId">@Html.DisplayFor(model => model.Company.Name)</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.FullName)</li>
    </ol>
</nav>
<h1 class="model-heading">Details for @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Email != null)
            {
                @Html.DisplayFor(model => model.Email)
            }
            else
            {
                <span class="no-info">None listed.</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Phone != null)
            {
                <a href="tel:@Html.DisplayFor(model => model.Phone)">@Html.DisplayFor(model => model.Phone)</a>
            }
            else
            {
                <span class="no-info">None listed.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @if (Model.CompanyId != null)
            {
                <a asp-controller="Companies" 
                   asp-action="Details" 
                   asp-route-id="@Model.Company.CompanyId"
                   class="employee-company-cell">
                @if (Model.Company.LogoName != null)
                {
                    <div class="index-logo-box-inline">
                        <img src="@("~/img/" + Model.Company.LogoName)" asp-append-version="true" class="img-logo" />
                    </div>
                }
                @Html.DisplayFor(model => model.Company.Name)
                </a>
            }
            else
            {
                <span class="no-info">None listed.</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"
       asp-route-id="@Model.EmployeeId"
       class="btn btn-outline-secondary"
       title="Edit">
        <i class="fas fa-pen-alt"></i> Edit
    </a>
    <a asp-action="Delete"
       asp-route-id="@Model.EmployeeId"
       class="btn btn-danger"
       title="Delete">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
</div>
