@model PaginatedList<Reflection.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Employees</li>
    </ol>
</nav>

@if ((int)ViewData["UnassignedEmployees"] == 1)
{
    <div class="alert alert-warning" role="alert">
        There is 1 employee with no assigned company. <a asp-action="Unassigned">Click here</a> to resolve.
    </div>
}
else if ((int)ViewData["UnassignedEmployees"] > 1)
{
    <div class="alert alert-warning" role="alert">
        There are @ViewData["UnassignedEmployees"] employees with no assigned company. <a asp-action="Unassigned">Click here</a> to resolve.
    </div>
}

@if (TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.Raw(TempData["MessageSuccess"])
    </div>
}

<h1 class="model-heading">Employees List</h1>

<a asp-action="Create" title="Add" class="btn btn-success btn-add"><i class="fas fa-plus-circle"></i><span class="crud-action-text"> Add</span></a>

<form asp-action="Index" method="get" class="search-container-container">
    <div class="form-actions no-color search-container">
        <input type="text" name="t" value="@ViewData["CurrentFilter"]" class="form-control searchbar" />
        <input type="submit" value="Search" class="btn btn-primary" title="Search" />
        @if (ViewData["CurrentFilter"] != null)
        {
            <a asp-action="Index"> Back to Full List</a>
        }
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-s="@ViewData["NameSortParam"]"
                   asp-route-f="@ViewData["CurrentFilter"]"
                   class="link-dark"
                   title="Sort by name">
                    <i class="fas fa-sort"></i> Name
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-s="@ViewData["CompanySortParam"]"
                   asp-route-f="@ViewData["CurrentFilter"]"
                   class="link-dark"
                   title="Sort by company">
                    <i class="fas fa-sort"></i> Company
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.EmployeeId"
                       title="View details for @item.FirstName @item.LastName">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </a>
                </td>
                <td>
                    @if (item.CompanyId != null)
                    {
                        <a asp-controller="Companies"
                           asp-action="Details"
                           asp-route-id="@item.CompanyId"
                           title="View details for @item.Company.Name"
                           class="employee-company-cell">
                            @if (item.Company.LogoName != null)
                            {
                                <div class="index-logo-box-inline">
                                    <img src="@("~/img/" + item.Company.LogoName)" asp-append-version="true" class="img-logo" />
                                </div>
                            }
                            @Html.DisplayFor(modelItem => item.Company.Name)
                        </a>
                    }
                </td>
                <td>
                    <div class="index-edit-delete-group">
                        <a asp-action="Edit"
                           asp-route-id="@item.EmployeeId"
                           class="btn btn-outline-secondary"
                           title="Edit">
                            <i class="fas fa-pen-alt"></i><span class="crud-action-text"> Edit</span>
                        </a>
                        <a asp-action="Delete"
                           asp-route-id="@item.EmployeeId"
                           class="btn btn-danger"
                           title="Delete">
                            <i class="fas fa-trash-alt"></i><span class="crud-action-text"> Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="pagination-buttons">
    <a asp-action="Index"
       asp-route-s="@ViewData["CurrentSort"]"
       asp-route-p="@(Model.PageIndex - 1)"
       asp-route-f="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-s="@ViewData["CurrentSort"]"
       asp-route-p="@(Model.PageIndex + 1)"
       asp-route-f="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @nextDisabled">
        Next
    </a>
</div>