@model PaginatedList<Reflection.Models.Employee>

@{
    ViewData["Title"] = "Unassigned Employees";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Employees</a></li>
        <li class="breadcrumb-item active" aria-current="page">Unassigned</li>
    </ol>
</nav>

@if (TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.Raw(TempData["MessageSuccess"])
    </div>
}

<h1 class="model-heading">Unassigned Employees</h1>

<form asp-action="Unassigned" method="get" class="search-container-container">
    <div class="form-actions no-color search-container">
        <input type="text" name="t" value="@ViewData["CurrentFilter"]" class="form-control searchbar" />
        <input type="submit" value="Search" class="btn btn-primary" title="Search" />
        @if (ViewData["CurrentFilter"] != null)
        {
            <a asp-action="Unassigned"> Back to Full List</a>
        }
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Unassigned"
                   asp-route-s="@ViewData["NameSortParam"]"
                   asp-route-f="@ViewData["CurrentFilter"]"
                   class="link-dark"
                   title="Sort by name">
                    <i class="fas fa-sort"></i> Name
                </a>
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.EmployeeId"
                       title="View details for @item.FirstName @item.LastName">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </a>
                </td>
                <td>
                    @if (item.Email != null)
                    {
                        @Html.DisplayFor(modelItem => item.Email)
                    }
                    else
                    {
                        <span class="no-info">None listed.</span>
                    }
                </td>
                <td>
                    @if (item.Phone != null)
                    {
                        <a href="tel:@Html.DisplayFor(modelItem => item.Phone)">@Html.DisplayFor(modelItem => item.Phone)</a>
                    }
                    else
                    {
                        <span class="no-info">None listed.</span>
                    }
                </td>
                <td>
                    <div class="index-edit-delete-group">
                        <a asp-action="Edit"
                           asp-route-id="@item.EmployeeId"
                           class="btn btn-outline-secondary"
                           title="Edit">
                            <i class="fas fa-pen-alt"></i><span class="crud-action-text"> Edit</span>
                        </a>
                        <a asp-action="Delete"
                           asp-route-id="@item.EmployeeId"
                           class="btn btn-danger"
                           title="Delete">
                            <i class="fas fa-trash-alt"></i><span class="crud-action-text"> Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="pagination-buttons">
    <a asp-action="Unassigned"
       asp-route-s="@ViewData["CurrentSort"]"
       asp-route-p="@(Model.PageIndex - 1)"
       asp-route-f="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @prevDisabled">
        Previous
    </a>
    <a asp-action="Unassigned"
       asp-route-s="@ViewData["CurrentSort"]"
       asp-route-p="@(Model.PageIndex + 1)"
       asp-route-f="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @nextDisabled">
        Next
    </a>
</div>