@model Reflection.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Website" target="_blank">@Html.DisplayFor(model => model.Website)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogoName)
        </dt>
        <dd class="col-sm-10">
            @if (Model.LogoName != null)
            {
                <div class="details-logo-box">
                    <img src="@("~/img/" + Model.LogoName)" asp-append-version="true" class="img-logo" />
                </div>
            }
            else
            {
                <span>No logo provided.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Employees)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@item.EmployeeId">Details</a></td>
    </tr>}
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.CompanyId" class="text-danger">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
